.logo {
  height: 180px;
  width: 180px;
  /* border: 1px solid black; */
  margin-top: 15px;
  display: flex;
  position: relative;
}

.logo:hover {
  transform: scale(1.1);
  transition: 1s;
}
.adjust {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adjusttwo {
  display: flex;
  align-items: center;
  justify-content: center;
}
